body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    font-family: 'Poopins', sans-serif;
    overflow: hidden;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


.question {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    font-size: 1.5em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

#yes-btn {
    background-color: #4CAF50;
    left : 10%;
    position: absolute;
}

#no-btn {
    background-color: #f44336;
    position: absolute;
    transition: top 0.3s, left 0.3s;
    right: 10%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: expand 700ms ease-in-out forwards;
    transform-origin: center;
}

.fullscreen-text {
    font-size: 4em;
    color: white;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes expand {
    from {
        transform: scale(0);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 0;
    }
}